page "{id:int}"
@model HRTZ.WebApp.Pages.AdminModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "Shared/_Layout";
}

<div>
    <h2>Рекрутер @Model.Admin.Login</h2>
</div>
<div>
   
</div>